:root{
    --bg: #fdfdff;
    --contrast: #393d3f;
    --azul: #08BDBD;
    --primario: #FFC43D;
    --secundario: #EF476F;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: var(--bg);
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    background-image: linear-gradient(to top, #dfe9f3, #fdfdff);
}

h2{
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

h3{
    font-weight: bold;
    font-size: 2rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    color: var(--primario);
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
}

.title span{
    font-size: 5.5rem;
    color: var(--secundario);
    font-weight: 600;
}

.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .nav-principal{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.nav-principal a{
    text-align: center;
    padding: 2rem 1rem;
    color: var(--bg);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
}
.nav-principal a:hover{
    background-color: var(--primario);
    color: var(--contrast);
}

@media (min-width: 768px) {
    .nav-principal a{
        width: auto;
    }
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.nav-bg{
    background-color: var(--azul);
}

.button{
    background-color: var(--azul);
    color: var(--bg);
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 3rem;
    width: 80%;
    margin-top: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 1rem;
    text-align: center;
    border: none;
}

.button:hover{
    cursor: pointer;
}

main {
    background-color: var(--bg);
    margin: 4rem auto;
    width: 90%;
    padding: 1rem 3rem;
    border-radius: 2rem;
}


@media (min-width: 768px) {
    .button{
        width: auto;
        height: auto;
        padding: 1rem 3rem;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CV */

hr{
    color: var(--contrast);
    margin: 0;
    width: 50%;
}

.principal hr{
    min-width: 30%;
}

.recuadro{
    padding: 1rem;
    margin: 2rem;
    border-radius: 3rem;
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.18);
}

li{
    margin-left: 0;
}

.recuadro h1, h2{
    font-weight: bold;
    text-align: left;
}

.principal{
    background-color: var(--primario);
    padding-bottom: 8rem;
    width: 90%;
}

.secundario{
    background-color: var(--primario);
}

.espacio-foto{
    padding: 2.5rem;
    margin-top: -9rem;
    background-color: var(--azul);
    max-width: 50%;
}

img{
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.mi-perfil, .educacion, .habilidades, .experiencia{
    margin: 0 1.5rem;
    width: 95%;
    line-height: 1.5;
}
/* CV */

/* CV PC*/
@media (min-width: 768px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .recuadro{
        padding: 3rem;

    }

    .principal{
        margin: 2rem auto;
        background-color: var(--primario);
        width: 95%;
        padding: 2rem;
        grid-column: 1 / 3;
    }

    .espacio-foto{
        margin: 0 auto 2rem auto;
        min-width: 91.5%;
        grid-column: 2 / 3;
        padding: 5%;
    }

    .grupo{
        grid-row: 2 / 3;
    }

    .secundario{
        height: 100%;
        width: 90%;
        margin: auto;
    }

    .habilidades-experiencia{
        margin: 2rem auto;
        width: 90%;
    }
}


/* CV PC*/

/* Utilidades */

.sombra{
    -webkit-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.4);
}

.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100{
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha{
    justify-content: flex-end;
}

.margin-top-2{
    margin-top: 2rem;
}

a.selected{
    color: var(--primario);
}
/*========================*/

.footer{
    width: 80%;
    text-align: center;
    margin: auto
}